<!--
Variables:

title
image
imagealt
overlayheadline
content
buttonlink
buttontext
-->

<section id="card">
  <h2>{{include.title}}</h2>
  <div class="card shadow" style="height: 400px;">
    <img src="{{include.image}}" class="card-img" alt="{{include.imagealt}}">
    <div class="card-img-overlay d-flex flex-column">
      <div class="text-white">
        <h1>{{include.overlayheadline}}</h1>
        <p>{{ content }}</p>
      </div>
      <a href="{{include.buttonlink}}" class="btn btn-primary btn-xl page-scroll align-self-end mt-auto">{{include.buttontext}}</a>
    </div>
  </div>


</section>
