<section id="contact">
    <h2 class="section-heading">Kontaktiere uns!</h2>
    <hr class="primary">
    <p class="text-center">Du bist interessiert und willst mehr über uns erfahren? Schreibe uns eine E-Mail, besuche unsere Social-Media-Seiten oder komm persönlich vorbei!</p>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
            <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
            <a href="https://twitter.com/{{ site.contact_twitter_username }}" title="TechAachen auf Twitter">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.contact_twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
            <a href="https://facebook.com/{{ site.contact_facebook_username }}" title="TechAachen auf Facebook">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.contact_facebook_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
            <a href="https://instagram.com/{{ site.contact_instagram_username }}" title="TechAachen auf Instagram">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.contact_instagram_username }}</p>
            </a>
        </div>
      </div>
    </div>
</section>
