<header>
  <div class="header-content justify-content-center">
    <div class="header-content-inner">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-none d-lg-block">
          <img src="img/techAachen_Logo.svg" alt="TechAachen Logo" title="TechAachen Logo" style="height:250px;">
        </div>
        <div class="col-lg-6 col-12 pt-10 d-flex flex-column">
          <p class="mt-auto mb-n4">
            <span class="mr-5">Die studentischen technischen Vereine in Aachen.</span>
        </div>
      </div>
      <div class="d-flex flex-row-reverse p-5">
      </div>
    </div>
  </div>
  <div id="header-scroll-button" class="w-100 text-center">
    <a href="#unseremission" class="btn btn-primary btn-xl page-scroll">Mehr erfahren</a>
  </div>
</header>
