<section id="members">
    <h2 class="section-heading">Mitglieder</h2>
    <hr class="primary">
    <script type="text/javascript">
        function memberExtend(tag) {
            document.getElementById(tag).classList.toggle("project-extended-visible");
        }
    </script>
    <div class="container-fluid">
        <div class="row no-gutter">
            {% assign members_sorted = site.data.members | sort: 'order' %}
            {% for member in members_sorted %}
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:;" onclick="memberExtend('{{member.order}}')" class="portfolio-box">
                    {% if member.image %}
                    <img src="{{ member.image }}" class="img-responsive" alt="" style="height: 350px; width: 650px; object-fit: cover;">
                    {% else %}
                    <img src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 650 350'%2F%3E" class="img-responsive" alt="" style="height: 350px; width: 650px; object-fit: cover;">
                    {% endif %}
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            {% if member.type %}<div class="project-category text-faded">{{member.type}}</div>{% endif %}
                            <div class="project-name">{{member.name}}</div>
                        </div>
                    </div>
                </a>
                <div class="col-md-12 project-extended" id="{{member.order}}">
                    {% if member.description %}<p>{{member.description}}</p>{% endif %}
                    <a href="{{ member.link }}" class="btn btn-default btn-xl">Mehr erfahren</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
