


<!-- Neues Element, soll später mal zusammen mit einer data datei nav-front und nav-page dynamisch ersetzen -->

<nav id="mainNav" class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{include.logolink}}">
              <img class="navbar-brand page-scroll navbar-logo" src="img/techAachen_Logo.svg" alt="TechAachen Logo" title="TechAachen Logo">
            </a>
            <a class="navbar-brand page-scroll" href="{{site.url}}#page-top">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{site.url}}/aboutus.html">Über uns</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.url}}#members">Teams</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.url}}#projects">Projekte</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{site.url}}/contact.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
