<nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top border-bottom">

    <!-- Logo -->
    <a href="index.html">
      <img class="navbar-brand page-scroll navbar-logo" src="img/techAachen_Logo.svg" alt="TechAachen Logo" title="TechAachen Logo">
    </a>

    <!-- TECHAACHEN Schriftszug -->
    <a class="navbar-brand" href="index.html">{{ site.title }}</a>

    <!-- Collapse (Burgermenu) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Content of Collapse -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" href="aboutus.html">Über uns & die Vereine</a>
        <a class="nav-item nav-link" href="index.html#projects">Projekte</a>
        <a class="nav-item nav-link" href="partner.html">Partner</a>
        <a class="nav-item nav-link" href="calendar.html">Termine</a>
        <a class="nav-item nav-link" href="contact.html">Kontakt</a>
      </div>
    </div>
</nav>
