<nav class="navbar navbar-expand-lg fixed-top border-bottom">
  <div class="navbar-header flex-grow-1">
    <a href="index.html">
      <img class="navbar-brand page-scroll navbar-logo" src="img/techAachen_Logo.svg" alt="TechAachen Logo" title="TechAachen Logo">
    </a>
    <a class="navbar-brand page-scroll" href="index.html">{{ site.title }}</a>

    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="justify-content-center">
    <div class="navbar-header">


    </div>


    <!-- Conntent of Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" href="aboutus.html">Über uns & die Vereine</a>
        <a class="nav-item nav-link" href="index.html#projects">Projekte</a>
        <a class="nav-item nav-link aktive" href="contact.html">Kontakt</a>
      </div>
    </div>
  </div>
</nav>
