<section id="news">
    <h2 class="section-heading">Aktuelles</h2>
    <hr class="primary">
    <div class="container">
        <div class="row">
            {% for post in site.posts %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                <p class="excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
