<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="impressum text-center">
          <a href="{{ site.url }}/impressum.html" class="btn btn-default btn-sm">Impressum</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="datenschutz text-center">
          <a href="{{ site.url }}/datenschutz.html" class="btn btn-default btn-sm">Datenschutz</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
        <div class="satzung text-center">
          <a href="{{ site.url }}/satzung.html" class="btn btn-default btn-sm">Satzung</a>
        </div>
      </div>
    </div>
  </div>
</div>
