<section id="persons">
<div class="container-fluid">
  <div class="row justify-content-center">
    {% assign persons = site.data.persons | sort: 'order' %}
    {% for person in persons %}
    {% if person.active %}
    <div class="col-lg-3 col-12 p-3">
      <div class="card h-100 shadow">
        <img src="{{person.image}}" alt="{{person.name}}">
        <div class="card-footer">
          <h3>{{person.name}}</h3>
          <p>{{person.function}}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


</section>


<!--     <div class="flex-grid">
    {% assign persons = site.data.persons | sort: 'order' %}
    {% for person in persons %} {% if person.active %}
        <div class="flex-cell text-center flex-cell-persons">
            <div class="service-box">
                <h3>{{person.name}}</h3>
                <img src="{{person.image}}" class="flex-cell-persons-img" alt="{{person.name}}" title="{{person.name}}">
                <p>{{person.function}}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div> -->
