<section id="persons">
    <h2 class="section-heading">Wer wir sind</h2>
    <hr class="primary">
    <div class="flex-grid">
    {% assign persons = site.data.persons | sort: 'order' %}
    {% for person in persons %} {% if person.active %}
        <div class="flex-cell text-center">
            <div class="service-box">
                <h3>{{person.name}}</h3>
                <img src="{{person.image}}" height="300px">
                <p>{{person.function}}</p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</section>
