
<div class="container-fluid">
  <div class="row justify-content-center">
    {% assign persons = site.data.persons | sort: 'order' %}
    {% for person in persons %}
    {% if person.active %}
    <div class="col-lg-2 col-12 p-3">
      <div class="card h-100 shadow">
        <img src="{{person.image}}" style="object-fit:cover;" alt="{{person.name}}">
        <div class="card-body h-100">
          <div class="row">
            <div class="col w-100">
              <h3 class="card-title">{{person.name}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col w-100">
              <p class="card-text">{{person.function}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
