<section id="projekte">
  <h2 class="section-heading">Projekte</h2>
  <hr class="primary">
  <!-- <div class="flex-grid"> -->
  <div class="d-flex flex-nowrap">
    <div class="row justify-content-md-center">


      {% for projekt in site.data.projekte %}
      <!-- <div class="flex-cell text-center" style="background-color: #bccf00;">
      <img src="{{projekt.image}}" style="max-width: 100%; width: 100%; margin: 0px;" alt="{{projekt.title}}" title="{{projekt.title}}">
      <div class="service-box" style="max-width: 500px;">
      <p class="text-muted text_german" style="color: #555;">{{ projekt.text }}</p> -->
      <!-- <p class="text-muted text_english" style="color: #555;">{{ projekt.text_english }}</p> -->
      <!-- <br />
      <a href="{{ projekt.link }}" class="btn btn-default btn-xl" title="{{projekt.title}}">Mehr erfahren</a>
      <br /><br />
    </div>
  </div> -->
  <div class="col-4">


    <div class="card" style="height: 450px" >
      <img src="{{projekt.image}}" class="card-img" alt="{{projekt.title}}">
      <div class="card-body">
        <h3>{{projekt.title}}</h3>
        <p>{{projekt.text}}</p>
        <div class="d-flex align-items-center flex-column">
          <a href="{{ projekt.link }}" class="btn btn-primary btn-xl" title="{{projekt.title}}">Mehr erfahren</a>
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>

<!-- <script type="text/javascript">
var userLang = navigator.language || navigator.userLanguage;
if(userLang == "de") {
var divsToHide = document.getElementsByClassName("text_english");
for(var i = 0; i < divsToHide.length; i++){
divsToHide[i].style.visibility = "hidden";
//divsToHide[i].style.display = "none";
}
var divsToShow = document.getElementsByClassName("text_german");
for(var i = 0; i < divsToShow.length; i++){
divsToShow[i].style.visibility = "visible";
//divsToShow[i].style.display = "block";
}
}
else {
var divsToHide = document.getElementsByClassName("text_german");
for(var i = 0; i < divsToHide.length; i++){
divsToHide[i].style.visibility = "hidden";
//divsToHide[i].style.display = "none";
}
var divsToShow = document.getElementsByClassName("text_english");
for(var i = 0; i < divsToShow.length; i++){
divsToShow[i].style.visibility = "visible";
//divsToShow[i].style.display = "block";
}
}
</script> -->
<!-- </div> -->
</section>
