<div class="container-fluid">
  <div class="row justify-content-center">
    {% assign techturbo1impressions = include.techturbo2impressions %}
    {% for techturbo1impression in techturbo1impressions %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 text-center shadow-sm">
        <div class="card-body d-flex flex-column align-items-center justify-content-between">
          
          <!-- Bild doppelt so groß wie auf Team -->
          <div class="d-flex align-items-center justify-content-center mb-3" style="height: 100%; width: 100%;">
            <img src="{{ techturbo1impression.image }}" 
                 class="img-fluid" 
                 alt="{{ techturbo1impression.name }}" 
                 style="width: 100%; object-fit: contain;">
          </div>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
