<section id="test">
  <!-- <a tabindex="0"
     class="btn btn-lg btn-primary"
     role="button"
     data-html="true"
     data-toggle="popover"
     data-trigger="focus"
     title="<b>Example popover</b> - title"
     data-content="<div><b>Example popover</b> - content</div>">Example popover</a> -->

<!-- Alternative Popover: -->

     <a id="example-popover"
        tabindex="0"
        class="btn btn-lg btn-info"
        role="button"
        data-trigger="focus">Example popover</a>

     <div id="example-popover-content" class="hidden">
       <div>
         <b>Example Penis</b> - content
       </div>
     </div>

     <div id="example-popover-title" class="hidden">
       <b>Example popover</b> - title
     </div>
</section>
