html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    @include serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

h3 {
    font-size: 1.5rem;
}

a {
    @include transition-all;
    color: darken($theme-primary, 10%);
    &:hover,
    &:focus {
        color: $theme-primary;
    }
}

.fa {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

#content img {
    width: 100%;
}

.only-bottom-padding {
    padding: 0;
    padding-bottom: 20px;
}

.text-white {
    text-shadow: 0 0 5pt rgba(0, 0, 0, 0.5);
}

// Fix anchor links hidden by navbar
:target::before {
    content: "";
    display: block;
    height: 5rem;
    margin: -5rem 0 0;
  }
