html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

#content img {
    width: 100%;
}

.only-bottom-padding {
    padding: 0;
    padding-bottom: 20px;
}

.service-box {
    max-width: 400px;
    margin: 15px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    padding: 5px;
}


.text-white {
    text-shadow: 0 0 5pt rgba(0, 0, 0, 0.5);
}

@import "button";
@import "header";
@import "section";
@import "navbar-old";
@import "flex-things-old";
