section {
    padding: 50px 0;
}

.section-heading {
    margin-top: 0;
    width: 100%;
    text-align: center;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}
