@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@import "bootstrap";
/*
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";
@import "bootstrap/scaffolding";
@import "bootstrap/layouts";
//@import "bootstrap/type";
//@import "bootstrap/forms";
//@import "bootstrap/dropdowns";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/labels-badges";
@import "bootstrap/utilities";
*/


$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

// variables.less
$theme-primary: #bccf00;
$theme-dark: #000;
$theme-darkgrey: #555;
$theme-lightgrey: #b1b1b1;

$flex-break-dual: 1200px;
$flex-break-single: 480px;

@import
  "mixins",
  "base",
  "animate"
;
