<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top">

  {% include nav-front.html %}
  {% include header.html %}
  <!-- style="background-color: white; transform: translate(0px, -230px);" -->
  <div class="container">
    {% include card.html title="Unsere Mission" image="img/cards/ecurie_talk.JPG"
    imagealt="Unsere Mission" overlayheadline="Studierende durch Technik verbinden." text="" buttonlink="aboutus.html"
    buttontext="Erfahre mehr!" %}


    {% include projekte.html %}


    {% include card.html title="Unterstützer und Partner" image="img/cards/placeholder.svg"
    imagealt="Gruppenfoto" overlayheadline="\"...Zeigen was neben dem Studium geht.\"" text="" buttonlink="contact.html"
    buttontext="Auch Unterstützer werden" %}


    {% include card.html title="Kontakt" image="img/cards/gruppeamtisch.png"
    imagealt="Gruppenfoto" overlayheadline="Mitglied werden?" text="" buttonlink="contact.html"
    buttontext="Nimm Kontakt mit uns auf!" %}

    {% include footer.html %}
    {% include scripts.html %}
  </div>
</body>

</html>
