<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top" class="bg-light">

{% include navbar.html %}
<div class="container">


<section id="content">
    <div class="container">
      <div class="text-justify">
        <br />
        <br />
          <!-- <h2 class="section-heading">{{ page.title }}</h2> -->
      </div>
    </div>
    <div class="container">
        <div class="text-center">
          {{ content }}
        </div>
    </div>
</section>
{% include footer.html %}

</div>
{% include scripts.html %}
</body>

</html>
