<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" style="background: #202020; background: linear-gradient(0deg, #202020, #606060); background-attachment: fixed;">
{% include nav-page.html %}
  <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #EFEFEF">{{ page.title }}</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="color: #EFEFEF">
              {{ content }}
            </div>
        </div>
    </div>
  </section>
</body>

</html>
