<!DOCTYPE html>
<html lang="de">
{% include head.html %}
<body id="page-top" class="bg-light">

{% include navbar.html %}

  <!-- Header mit optionalem Hintergrundbild und Slogan -->
  {% if page.titleimg375 %}
  <div class="card shadow text-white" style="height: 400px;">
    <img srcset="{{ page.titleimg375 }} 375w, {{page.titleimg690}} 690w, {{page.titleimg1110}} 1110w"
         sizes="100vw" class="card-img" style="height: 400px; object-fit: cover;" alt="Titelbild">
    <div class="card-img-overlay d-flex flex-column">
      <div class="pr-3 d-flex justify-content-end align-self-end mt-auto">
        <h1>{{ page.slogan }}</h1>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container text-center pt-5">
    <h2 class="section-heading">{{ page.title }}</h2>
    <hr class="primary">
  </div>
  {% endif %}

  <!-- Hauptinhalt -->
  <section id="content">
    <div class="container pt-4">
      <div class="text-left">
        {{ content }}
      </div>
    </div>
  </section>

  <!-- Nach oben Button -->
  <section id="goback" class="only-bottom-padding">
    <div class="text-center">
      <a href="#top" class="btn btn-primary btn-xl">Nach oben</a>
    </div>
  </section>

{% include footer.html %}
{% include scripts.html %}
</body>
</html>