<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top" class="bg-light">

{% include nav-page.html %}

  <section id="content">
    <div class="container">
      <div class="text-center">
          <br />
          <br />
          <h2 class="section-heading">{{ page.title }}</h2>
          <hr class="primary">
      </div>
    </div>
    <div class="container">
        <div class="text-left">
          {{ content }}
        </div>
    </div>
  </section>
  <section id="goback" class="only-bottom-padding">
    <div class="impressum text-center">
      <a href="contact.html" class="btn btn-primary btn-xl">Zurück</a>
    </div>
  </section>
{% include footer.html %}
{% include scripts.html %}
</body>

</html>
