<!DOCTYPE html>
<html lang="de">
{% include head.html %}
<body id="page-top">
  {% include navbar.html %}

  <div class="container pt-5" style="margin-top: 100px;">

  <div class="container">

    <!-- Dauerhafte Partner -->
    <h2 class="section-heading text-center">Dauerhafte Partner</h2>
    <hr class="primary mb-4">
    <div class="row justify-content-center">
      {% for p in page.dauerhaftepartner %}
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="d-flex align-items-center justify-content-center p-3" style="height: 150px;">
            <img src="{{ p.logo }}" class="card-img-top p-3 img-fluid" alt="{{ p.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ p.name }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Unterstützer -->
    <h2 class="section-heading text-center">Unterstützer</h2>
    <hr class="primary mb-4">
    <div class="row justify-content-center">
      {% for u in page.unterstuetzer %}
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="d-flex align-items-center justify-content-center p-3" style="height: 150px;">
            <img src="{{ u.logo }}" class="card-img-top p-3 img-fluid" alt="{{ u.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ u.name }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- TechTurbo 2025 -->
    <h2 class="section-heading text-center">TechTurbo2025 Partner</h2>
    <hr class="primary mb-4">
    <div class="row justify-content-center">
      {% for t in page.techturbo2025 %}
        <div class="col-sm-6 col-md-3 mb-4">
          <div class="d-flex align-items-center justify-content-center p-3" style="height: 150px;">
            <img src="{{ t.logo }}" class="card-img-top p-3 img-fluid" alt="{{ t.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ t.name }}</h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Partner werden -->
    <h2 class="section-heading text-center">Partner werden</h2>
    <hr class="primary mb-4">
    <p class="text-center mb-3">
      {{ page.werdetpartner }}
    </p>
    <div class="text-center mb-5">
      <a href="/contact.html" class="btn btn-primary">Kontakt aufnehmen</a>
    </div>


  </div>

  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
