<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="bg-dark">

{% include nav-page.html %}

  <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">{{ page.title }}</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              {{ content }}
            </div>
        </div>
    </div>
  </section>
  <section id="goback" class="only-bottom-padding">
    <div class="impressum text-center">
      <a href="{{ site.baseurl }}/" class="btn btn-primary btn-xl">Zurück zur Startseite</a>
    </div>
  </section>

{% include scripts.html %}
</body>

</html>
